
.navbar {
  min-height: 96px;
  .navbar-brand {
    margin: 0 120px 0 60px;
  }
  .navbar-nav {
    .nav-link, .nav-link:focus {
      font-weight: 600;
      color: #000000;
      font-size: 18px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 2px;
      margin-right: 2px;
    }
    .nav-link:hover {
      color: #000000;
      border-bottom: 5px solid #7a3acf;
    }
    .active>.nav-link {
      border-bottom: 5px solid #482e8f;
      color: #000000;
    }
  }
  .btn {
    min-width: 200px;
    font-weight: bold;
    margin: 0 0 0 120px;
    .fa {
      font-weight: normal;
    }
  }
  .btn:focus, .btn-primary:focus {
    outline:0;
    box-shadow: none;
  }
}
.btn-primary, .btn-primary:hover {
  color: #fff;
  background: #a98af1; /* Old browsers */
  background: -moz-linear-gradient(top, #a98af1 0%, #7f5de9 86%, #7f5de9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a98af1 0%,#7f5de9 86%,#7f5de9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a98af1 0%,#7f5de9 86%,#7f5de9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a98af1', endColorstr='#7f5de9',GradientType=0 ); /* IE6-9 */
  border: none;
}
.btn-primary:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9169ef+0,7f5de9+59,643ce8+100 */
  background: #9169ef; /* Old browsers */
  background: -moz-linear-gradient(top, #9169ef 0%, #7f5de9 59%, #643ce8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #9169ef 0%,#7f5de9 59%,#643ce8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #9169ef 0%,#7f5de9 59%,#643ce8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9169ef', endColorstr='#643ce8',GradientType=0 ); /* IE6-9 */
}
  .spot1-bg {
  background: url(../img/bg-glassblowing.jpg) center;
  padding: 20px 0;
  border-bottom: 9px solid #7b69a7;
  .col-md-6 {
    min-height: 331px;
    display: flex;
  }
}
.spot1-txt {
  font-size: 38px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
  font-weight: bold;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1366px;
  }
}